<div class="game-container" style="background-image: linear-gradient(to right top, #df2866, #d8377f, #cc4794, #bc56a6, #aa63b3)">
  <div>
    <div class="welcome-top pt-5">
      <h4>Bienvenue !</h4>
      <h4>Connecte-toi pour jouer</h4>
      <h4 class='mb-5'></h4>
      <div class="token-card">
        <div class="avatar-key d-flex justify-content-around align-items-center mb-5">
          <i class="fas fa-key"></i>
        </div>
      <h6 class="mt-3 mb-5">Saisis ton code ici pour rejoindre la partie :</h6>
      <%= simple_form_for @participation do |p| %>
        <%= p.text_field :token, autofocus: true, placeholder: 'saisis ton code', class: 'code-input-field' %>
      </div>  <%= p.submit 'CONNEXION' , class: 'btn-home mb-5 mt-5' %>
      <% end %>
  </div>
</div>
