    <p>Bienvenue <%= @participation.user.pseudo %> !</p1>
    <p>participation n <%= @participation.id %></p>
    <p>Connected on <%= @participation.game.user.pseudo %>'s game</p>
    <p>game n <%= @participation.game.id %></p>
