<div class="container">

  <h1>GUESS WHAT</h1>
  <div class="modes">
    <%= simple_form_for @game do |f| %>
      <%= f.submit "MODE PARTY", class: "btn btn-flat" %>
      <% end %>
    <p class="btn btn-flat">MODE SOLO</p>
  </div>

</div>
