<div id="homepage">
  <div class="container">
    <div class="content">
      <div class="image">
        <%= image_tag "logo-guesswhat.png" %>
      </div>
      <h1>GUESS WHAT</h1>
      <h3>SHARE MUSIC ANYWHERE</h3>
    </div>


    <div class="modes">
      <%= simple_form_for @game do |f| %>
        <%= f.submit "MODE PARTIE", class: "btn btn-flat home" %>
        <% end %>
        <br>
      <p class="btn btn-flat home"> MODE SOLO </p>
    </div>
  </div>
</div>
