<div class="container">

  <h1>GUESS WHAT</h1>
<div class="modes">
  <p class="btn btn-flat">MODE PARTY</p>
  <p class="btn btn-flat">MODE SOLO</p>
</div>

  <%#= link_to "MODE PARTY", edit_game_path(@game), class: "btn btn-flat" %>
</div>
