<div class="buzzer-content">
  <!-- creer une variable idBuzzer = 'buzz' + user.id -->
  <%= render 'board',
    answering_time: @answering_time,
    current_track: @current_track,
    game: @game %>
  <%= link_to paused_game_path(game), method: :patch, id:"buzz" do %>
    <div class="buzzer">
      <div class="wave">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  <% end %>
</div>
