<%= render 'board',
    answering_time: @answering_time,
    current_track: @current_track,
    game: @game %>

<div class="speech-bubble speech-bubble-left">
  <p>
   Patiente, ton adversaire a été plus rapide que toi !
  </p>
</div>
