<ul class="list-inline d-flex align-items-center">
  <!--          creer une data-audio-id = user.id -->
  <li class="d-none list-inline-item audio" data-time="<%= @answering_time %>">
    <%= audio_tag("#{@current_track.url_preview}", autoplay: true, controls: true, id:"song") %>
  </li>
</ul>

<div class="buzzer-content">
  <!-- creer une variable idBuzzer = 'buzz' + user.id -->
  <div class="consigne text-center">
    <h3>Touche pour donner <br> <br> ta réponse</h3>
  </div>

  <%= link_to paused_game_path(@game), method: :patch, id:"buzz" do %>

  <figure class="profile">
    <%= image_tag "image.png", class: "logo-show" %>
  </figure>
  <% end %>
</div>

