<div class="container">
  <h1>test</h1>
    <ul>
      <% @playlists.each do |playlist| %>
        <li><%= playlist.name %></li>
      <% end%>
    </ul>
    <%= simple_form_for [ @game] do |f| %>
      <%= f.input :playlist, as: :radio_buttons, collection: @playlists %>
      <%= f.submit "Next", class: "btn btn-primary" %>
    <% end %>
</div>
