.btn-flat {
  color: white;
  background: $my-pink;
  border-radius: 50px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
  border: 1px solid white;

    &:hover {
      opacity: 0.8;
      background-position: right center;
      color: white;
    }
}


.btn-home {
  background: rgba(255,255,255,0.6) !important;
  color: white !important;
  border-radius: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  border: 1px solid White;
  letter-spacing: 3px;
  padding: 1rem 4rem;

    &:hover {
      opacity: 1;
      background-position: right center;
      color: white;
    }
}


.btn-home2 {
  color: white !important;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 12px;

    &:hover {
      opacity: 1;
      background-position: right center;
      color: white;
    }
}

.btn-edit {
  background: $my-pink;
  color: white;
  border-radius: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  border: 1px solid white;
  letter-spacing: 3px;
  padding: 1rem 4rem;

    &:hover {
      opacity: 1;
      background-position: right center;
      color: white;
    }
}


.play-btn {
  // margin-left: 35%;
  width: 80px;
  height: 80px;
  background: radial-gradient( rgba(200, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  box-shadow: 0px 0px 25px 3px rgba(200, 0, 128, 0.8);
  margin: 20px auto;
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
