.btn-flat {
  color: white;
  background: $my-pink;
  padding: 80px 250px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 50px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border: 1px solid white;
  width: 700px;

    &:hover {
      opacity: 1;
      background-position: right center;
      color: white;
    }
}

.modes {
  position: absolute;
  bottom: 0;
}

.home {
  background: white;
  color: black;
}
