.btn-flat {
  color: white;
  background: $my-pink;
  padding: 80px 250px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 50px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border: 1px solid white;
  width: 700px;

    &:hover {
      opacity: 1;
      background-position: right center;
      color: white;
    }
}

.modes {
  position: absolute;
  bottom: 0;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5em;
  width: 100%;

}

.btn-home {
  background-image: linear-gradient(to right, #ECE9E6, #FFFFFF) !important;
  color: black !important;
  border-radius: 50px;
  font-size: 50px;
  width: 700px;
  height: 250px;
  margin-bottom: 50px;


    &:hover {
      background-position: right center;
    }
}




// .home {
//   background: white;
//   color: black;
// }
