
.playlist_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 60px;
}

.playlist_card {
width: 100%;
height: 20vh;
background-color: white;
border-radius: 4px;
display:flex;
justify-content: center;
align-items: center;
}

.playlist_image {
 background-size: cover;
 object-fit: cover;
}

.playlist_card label {
  width: 100%;
  height: 20vh;
  margin: 0;
  color: white;
  font-size: 1em;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"], input[type="checkbox"] {

}

.play h1 {
  font-size: 1rem;
  margin: 30px;
  padding: 30px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: center;
}


.playlist_grid input:checked + label {
  border: 1px solid #bc4e9c;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  // border-radius: 4px;
}
