.form-container {
  margin: 80px auto;
  width: 85%;
  background-color: white;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  opacity: 0.9;
  border-radius: 2px;

  h2 {
    color: #bc4e9c;
    letter-spacing: 3px;
  }

  a {
    text-decoration: none;
    color: #bc4e9c;
  }
}

.hidden {
  display: none;
}

.code-input-field {
  width: 100%;
}
