
.image {
  text-align: center;
  font-family: $logo-font;

  .logo-gt {
    width: 90px;
    height: 90px;
  }
}

.content {
  h1 {
    font-family: $logo-font;
    text-align: center;
    font-size: 55px;
    margin-top: 20px;
  }

  p {
    font-family: $body-font;
    text-align: center;
    font-weight: 600;
  }
}
.padding-t-10 {
  padding-top: 10em;
}
.padding-b-10 {
  padding-bottom: 10%;
}
.padding-b-15 {
  padding-bottom: 15em;
}

.text-center {
  // padding-bottom: 50px;
}
