
.image {
  text-align: center;
  font-family: $logo-font;

  .logo-gt {
    width: 90px;
    height: 90px;
  }
}

.content {

  h1 {
    font-family: $logo-font;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
  }

  p {
    font-family: $body-font;
    text-align: center;
  }
}

.text-center {
  padding-bottom: 50px;
}
