
.image {
  text-align: center;
  padding-top: 500px;
  font-family: $logo-font;
}

.content {

  padding-bottom: 500px;

  h1 {
    font-family: $logo-font;
    text-align: center;
    font-size: 120px;
    margin-top: 50px;
  }

  h2 {
    font-family: $body-font;
    font-weight: 500;
    text-align: center;
  }
}

.text-center {
  padding-bottom: 50px;
}
