.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 140px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-left: 10px;
}

.brand h1 {
  font-family: $logo-font;
  font-size: 3rem;
  margin-top: 20px;
}
