.navbar-lewagon {
  justify-content: space-between;
  background: $my-pink;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
  margin-left: 10px;
}

.brand h1 {
  font-family: $logo-font;
  font-size: 2rem;
  margin: 6px 0 0 0;
}

.nav-link {
  color:  #DCDCDC;
  text-decoration: none;
}

.navbar-toggler {
  border: 0px;
}


.navbar-game {
  padding-top: 25px;
}

.home-game{
  color: white;
  width: 80px;
  text-align: center;
  font-size: 24px;
}

.home-playlist {
  color: #bc4e9c;
  font-size: 24px;
}

.home-game a {
  text-decoration: none;
  color:white;
  }

.players-all {
  width: 80px;
}

.playlist-name {
  color:white;
  text-align: center;
  font-size: 24px;
}
