.consigne {
  h3 {
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 4px;
    margin-top: 12vh;
    margin-bottom: 5vh;
    opacity: 0.8;
  }
}

.participant-created {
  margin-top: 90%;

  h3 {
    letter-spacing: 3px;
  }
}

.edit-title {
  color: #bc4e9c;
  letter-spacing: 3px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.2em;
  /*margin-bottom: 2rem;  -- mis en comm. par pierre */
}
