.consigne {
  h3 {
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 4px;
    margin-top: 12vh;
    margin-bottom: 5vh;
    opacity: 0.9;
  }
}
#consigne {
  visibility: hidden;
}

.participant-created {
  margin-top: 90%;

  h2 {
    letter-spacing: 3px;
  }

  h4 {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }

  .fa-music {
    color: #f9c6cf;
  }
}

.edit-title {
  /* color: #bc4e9c; */
  /* letter-spacing: 3px; -- C'est ce paramètre qui crée la disymétrie des marges droite et gauche sur la page */
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.2em;
  /*margin-bottom: 2rem;  -- mis en comm. par pierre */
}
